:root {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* #region MAIN THEME */
#home {
    color: rgb(255, 86, 142);
}

#home:hover{
    color: white;
}

#getInTouch, #home{
    user-select: none;
    z-index: 20;
    /* right: 40px; */
}

#getInTouch:hover{
    color: rgb(255, 86, 142);
    cursor: pointer;
}

body{
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
    background-color: #111111;
    width: 100vw;
    color: white;
    font-family: "Roboto";

    -ms-overflow-style: none;
}

body::-webkit-scrollbar{
    display: none;
}

::placeholder{
    font-family: "Roboto";
    font-weight: 400;
}

h1{
    color: rgb(255, 86, 142);
    text-shadow: 1px 1px rgb(207, 58, 118);
}

h2{
    text-shadow: 1px 2px black ;
}

p{
    font-weight: 100;
}

span{
    color: rgb(255, 86, 142);
    font-weight: bold;
}

.linkUnderline{
    color: rgb(255, 86, 142);
    font-weight: bold;

    background-image: linear-gradient(90deg, rgb(255, 86, 142), rgb(255, 86, 142));
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
}

.linkUnderline:hover{
    background-size: 100% 2px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

button{
    padding: 1vmax 2vmax;
    font-size: large;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    border: none;
    background: rgb(255, 86, 142);
}

button[type=reset]{
    background-color: white;
    color: black;
}

button:hover{
    cursor: pointer;
    box-shadow: 3.5px 3.5px black;
    animation: button-shadow 0.3s alternate;
}
button[type=submit]:hover{
    box-shadow: rgb(207, 58, 118) 2px 2px;
    animation: submit-button-shadow 0.3s alternate;
}

nav{
    width: 100%;
}

nav ul{
    width: 100%;
    height: 5rem;
    position: fixed;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    
    top: 0;
    transition: top 0.3s;
    background-color: rgba(12, 12, 12, 0.685);
    z-index: 10;
}

nav li{
    padding: 0 2rem;
    font-size: 130%;
    color: white;
    display: block;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.social-icons a {
    margin: 0 5px;
    width: 32px;
    height: 32px;
}

.social-icons img {
    height: 100%;
    width: 100%;
}

.fiveStar::after{
    content: "⭐⭐⭐⭐⭐";
    font-size: smaller;
}

footer{
    text-align: center;
    font-weight: bolder;
    margin-top: 170px;
}

/* #endregion */

/* #region LANDING PAGE */
header{
    height: auto;
}

.header-section{
    position: relative;
    padding: 0 15vw;
    height: auto;
}

.header-section::before {
    content: '';
    position: absolute;
    background: rgba(12, 12, 12, 0.685);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20vw), 60% 100% , 0 100%);
    width: 100vw;
    height: 100%;
    left: 0;
    z-index: -1;
}

.header-content {
    margin: .5rem .5rem;
}

.bottom-header{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    align-items: center;
}

#skip-to-contact span{
    margin: 0 0;
    text-decoration: none;
    color: rgb(255, 86, 142);

    background-image: linear-gradient(90deg, rgb(255, 86, 142), rgb(255, 86, 142));
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: right bottom;
    transition: background-size 300ms ease;
}

#skip-to-contact span::before{
    content: "📫";
}

#skip-to-contact span:hover{

    background-size: 80% 2px;

    cursor: pointer;
}

#skip-to-contact span:hover::before{
    content: "📭";
}

.header-content:hover::after {
    color: white;
}

img[class = "header-content"] {
    box-shadow: 2px 2px rgb(207, 58, 118);
    border-radius: 50%;
}

.about {
    margin: 12.1vh 0;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 50vw;
    zoom: 1.45;
    opacity: 0;
    z-index: 29;
    /* background-color: rgba(12, 12, 12, 0.685); */
}

.about div {
    max-width: 400px;
    padding: 0;
}

.about h1 {
    margin: 0;
}

.works-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works-block {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    font-size: clamp(1.5rem, 2vw, 2.5rem);
}

.works-div-left, .works-div-right {
    justify-content: center;
}

.works-description{
    display: none;
    max-width: 30vmax;
    user-select: none;
}

.works-description h1::before{
    content: "🌶️ ";
    text-shadow: none;
}

.works-description h1, .works-description p{
    margin: 0;
    padding: 0;
    text-align: end;
}

.works-description p{
    font-weight: 300;
}

.works-description-content {
    display: none;
    font-size: clamp(1.5rem, 0.8em, 5rem);
}

.w-tandoori{
    background-image: url("Images/tandoori.webp");
}

.works-img {
    width: 100%;
    height: 100%;
    transition: all .5s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.works-container {
    transition: all .5s;

    filter: grayscale(80%);
    width: 30vmax;
    min-height: 15rem;
    overflow: hidden;

    cursor: pointer;
}

.works-container:hover .works-img, 
.works-container:focus .works-img{
    transform: scale(1.2);
}

.works-container:hover, 
.works-container:focus{
    transform: scale(0.95);
}

/* .works-container:hover .works-img::before, 
.works-container:focus .works-img::before{
    display: block;
} */
.skills {
    width: 100vw;
    height: auto;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-title{
    text-align: center;
}

.skill-container {
    background-color: white;
    border-radius: 10px;
    width: 27vmax;
    height: 23vmax;
    margin: 2rem 2rem;
    opacity: 0.9;
    text-align: center;
    color: #111111;
    font-size: 1.3vmax;
    font-weight: bolder;
    transition: all .5s;
}

.skill-container:hover{
    /* width: 30vmax;
    height: 25vmax; */
    transform: scale(1.2);
    box-shadow: 1rem 1rem 15px black;
}

.skill-container li{
    margin: 0.9rem 0;
}

.stalk-section{
    width: 100vw;
    height: auto;
    margin-top: 20rem;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.hook-up{
    text-decoration: line-through;
}

.stalk-info{
    width: 25vmax;
    padding: 1rem;
    font-size: 1.45em;
}

.stalk-container {
    width: 25vmax;
    font-size: 2vmax;
    padding: 1rem;
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.stalk-input{
    margin: 1rem 0;
    padding: 0 10px;
    width: 95%;
    height: 3rem;
    border: none;
    border-radius: 5px;
    background: rgba(12, 12, 12, 0.685);
    color: white;
}

#stalk-txtArea{
    margin: 1rem 0;
    width: 95%;
    padding: 10px;
    height: 10rem;
    min-height: 5rem;
    max-height: 25rem;
    resize: vertical;
    border: none;
    border-radius: 5px;
    background: rgba(12, 12, 12, 0.685);
    color: white;
}

#stalk-txtArea::-webkit-scrollbar{
    display: none;
}

.stalk-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* #endregion */

/* Meida Queries*/
@media screen and (max-width: 1010px) {
    .stalk-section{
        margin: 0;
    }
}

@media screen and (max-width: 400px) {
    nav li{
        font-size: 100%;
    }

    nav ul{
        height: 4rem;
    }
}

@media screen and (min-width: 820px) {
    .works-description {
        display: initial;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 3rem;
    }

    .works-block {
        height: 20rem;
    }

    .works-div-left {
        justify-content: start;
    }
    
    .works-div-right {
        justify-content: end;
    }
}


/* KEYFRAMES */
@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes submit-button-shadow{
    from{box-shadow: rgb(207, 58, 118) 0px 0px;}
    to{box-shadow: rgb(207, 58, 118) 2px 2px;}
}

@keyframes button-shadow{
    from{box-shadow: black 0px 0px;}
    to{box-shadow: black 3.5px 3.5px;}
}

@keyframes body-fade {
    from{}
    to{opacity: .3; filter: blur(3px);}
}
